<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
</head>
<body>
  <h1>Overview</h1>
  <h4>Shoes</h4>
  <ul>
    <% shoes.forEach(item => { %>
      <li><%= item.manufacturer %> <%= item.name %></li>
   <% }) %>
  </ul>
  <h4>Crashpads</h4>
  <ul>
    <% crashpads.forEach(item => { %>
      <li><%= item.manufacturer %> <%= item.name %></li>
   <% }) %>
  </ul>
  <h4>Accessories</h4>
  <ul>
    <% accessories.forEach(item => { %>
      <li><%= item.manufacturer %> <%= item.name %></li>
   <% }) %>
  </ul>
</body>
</html>