<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climbing Shoes</title>
</head>
<body>
  <h1>All Climbing Shoes</h1>
  <table>
    <thead>
      <tr>
        <th>Shoe</th>
        <th>Manufacturer</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% shoes.forEach(shoe => { %>
        <tr> 
          <td> <a href="/shoes/update/<%= shoe.id %>"> <%= shoe.manufacturer %> <%= shoe.name %> </a> </td>
          <td> <%= shoe.manufacturer %> </td>
          <td> <%= shoe.name %> </td>
          <td> <%= shoe.price %> </td>
          <td> <%= shoe.fullStock %> </td>
          <td> <%= Math.floor(shoe.fullStock * shoe.price) %> </td>
        </tr>
      <% }) %>
      <tr>
        <th>Total value</th>
        <th> <%= shoesSum %> </th>
      </tr>
    </tbody>
  </table>
  <a href="/shoes/add">
    <button>Add shoe</button>
  </a>
  <a href="/">
    <button>back</button>
  </a>
</body>
</html>